/* profile */
.main-header {
  width: 90%; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-image: url(https://www.transparenttextures.com/patterns/cartographer.png);
  background-color: #d6a185;
  margin: auto;
  margin-top: 100px;
}