/* top body style */
nav {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0%;
  font-family: 'Bungee';
  font-size: 150%;

}
/* write a new tweet and arrow */
.comment {
  font-family: 'Source Sans Pro', sans-serif; 
  display: flex; 
  flex-direction: column;
  font-size: 75%; 
  align-items: center;
}

/* arrow style */
#image1 {
  color: red;
  justify-content: flex-end;
  padding: 0 2.5em;
  margin-top: 15px;

}