
form {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

/*button for the tweet */
button {
  background-color: #4056A1;
  color: #FFFFFF;
  margin-bottom: 10px;

}

/*tweet box where to write */
#tweet-text {
  border: none;
  border-bottom: solid;
  margin-bottom: 10px;
}

.hide {
  display: none;

}


/* error boxes that slides down */
.error1 {
  padding: 10px;
  border: 3px solid;
  color: #D8000C;
  border-color: #D8000C;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;

}

.error2 {
  padding: 10px;
  border: 3px solid;
  color: #D8000C;
  border-color: #D8000C;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}