article {
  border: solid;
  overflow: hidden;
  margin-top: 30px;
  font-family: sans-serif;

}

article:hover {
  box-shadow: 5px 10px rgba(169, 169, 169, 0.38);
}

#img2 {
  color: navy;

}

#img3 {
  color: navy;

}

#img4 {
  color: navy;

}

#img3:hover {
  filter: drop-shadow(4px 4px 4px #4444dd);
}

#img2:hover {
  filter: drop-shadow(4px 4px 4px #4444dd);
}

#img4:hover {
  filter: drop-shadow(4px 4px 4px #4444dd);

}

.tweet-header {
  display: flex;
  justify-content: space-between; 
  margin: 15px;  
}  


footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.older-tweets {
  width: 95%;
  margin-left: 20px;
  border: none;
  border-bottom: solid;
  margin-bottom: 5px;
  padding-bottom: 20px;

}